:root {
  --color-bg: #232327;
  --color-fg: #ecf6e2;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #ecf6e2;
    --color-fg: #232327;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  min-width: 360px;
  background: var(--color-bg);
}

body {
  font-family: Roboto, system-ui, "Segoe UI", Oxygen, Ubuntu,
    Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

code {
  font-family: Monaco, 'Ubuntu Mono', 'Andale Mono', Consolas, monospace;
}

.container {
  height: 100%;
}

#map {
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.splash-screen {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background-color: #4a441b;
  color: #ecfea2;
}

.error-message {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s, opacity 0.8s ease-in;
}

.error-message a {
  text-decoration: none;
  border-bottom: 1px dashed #fea2a4;
}

.error-message a,
.error-message a:hover {
  color: #fea2a4;
}

.error-message a:hover {
  border-bottom: 1px solid #fea2a4;
}

.load-failed .splash-screen {
  background-color: #6f1a1a;
  color: #fea2a4;
  transition: background-color 0.8s ease-in;
}

.load-failed .error-message {
  visibility: visible;
  opacity: 1;
}

.load-failed .loader {
  visibility: hidden;
}

.splash-screen img {
  display: block;
  width: 100%;
  max-width: 400px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.loaded .splash-screen {
  visibility: hidden;
  opacity: 0;
  transform: scale(1.6);
  transition: visibility 1s, opacity 0.75s ease-out, transform 0.55s ease-out;
}

.splash-screen-inner {
  width: 400px;
}

.loader-wrapper {
  margin: 24px auto 12px;
  text-align: center;
}

.loader {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 12px;
  width: 80%;
  border: 2px solid #e4e4e4;
  border-radius: 10px;
  overflow: hidden;
}

.loader::after {
  content: '';
  width: 40%;
  height: 100%;
  background: #f44336;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

a {
  transition: 0.2s;
}

a:hover {
  opacity: 0.7;
}

.container--xl {
  max-width: 100%;
  margin: 0 15px;
}

header {
  background: var(--color-bg);
  color: var(--color-fg);
  box-shadow: 2px 2px 12px 0 #0005;
  position: relative;
  z-index: 1000;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header__wrapper nav a {
  color: var(--color-fg);
  text-decoration: none;
  padding: 16px;
}

.header__left {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 30px;
}

.logo img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.donate-button {
  border: 1px solid var(--color-fg);
  color: var(--color-fg);
  text-decoration: none;
  border-radius: 6px;
  padding: 8px 20px;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modal.open {
  display: flex;
}

.modal__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  background: var(--color-bg);
  opacity: 0.8;
}

.modal__window {
  position: relative;
  z-index: 2;
  max-width: 320px;
  border-radius: 6px;
  background: var(--color-bg);
  color: var(--color-fg);
  padding: 30px;
  box-shadow: 2px 2px 12px 0 #0008;
}

.modal__close {
  position: absolute;
  line-height: 1;
  font-size: 30px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }

  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

@media (max-width: 768px) {
  .logo {
    margin-right: 10px;
  }
  .logo img {
    width: 36px;
  }

  .header__wrapper nav a {
    padding: 10px;
  }

  .donate-button {
    font-size: 14px;
    padding: 8px 16px;
    white-space: nowrap;
  }
}
