[Unit]
Description=Upload GeoJSON on GitHub every hour between 08:00 and 23:00

[Timer]
OnCalendar=*-*-* 05,08..23:02:30

[Install]
WantedBy=timers.target
